.card-wrapper {
  width: 100%;
  display: grid;
  align-content: flex-start;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 1fr 150px;
  column-gap: 30px;
  margin-top: 50px;
}

.card {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
  border-top: 4px solid #555;
  box-shadow: 2px 4px 15px 5px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 16px;
  font-weight: 700;
}

.card-body {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

.card-image {
  margin-top: 15px;
  align-self: flex-end;
}

.card-image img {
  width: 48px;
  height: 48px;
}

.grid-item-supervisor {
  grid-row: 2;
  border-top: 4px solid #44d3d1;
  margin-top: -40px;
}

.grid-item-team-builder {
  grid-column: 2;
  border-top: 4px solid #eb5354;
}

.grid-item-karma {
  grid-column: 2;
  grid-row: 3;
  border-top: 4px solid #fcae4b;
  margin-top: -80px;
}

.grid-item-calculator {
  grid-column: 3;
  grid-row: 2;
  border-top: 4px solid #539df1;
  margin-top: -40px;

}
