.card-wrapper {
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-columns: 1fr 290px 1fr;
  grid-template-rows: 150px 150px 300px;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
}

.card-body {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

.card-image {
  align-self: flex-end;
}

.card-image img {
  width: 48px;
  height: 48px;
}

.grid-item-supervisor {
  grid-row: 2;
}

.grid-item-team-builder {
  grid-column: 2;
}

.grid-item-karma {
  grid-column: 2;
  grid-row: 3;
}

.grid-item-calculator {
  grid-column: 3;
  grid-row: 2;
}
